<html>
    <head>
        <meta charset="utf-8">
        <title>Lista de produtos</title>
    </head>
    <body>
        <table>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
            </tr>
            <% for(var i=0; i < lista.length; i++){ %>
                <tr>
                    <td><%=lista[i].id%></td>
                    <td><%=lista[i].nome%></td>
                    <td><%=lista[i].descricao%></td>
                    <td><%=lista[i].preco%></td>
                </tr>
            <%}%>
        </table>

    </body>
</html>
